@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body, html {
	margin: 0px;
	padding: 0px;
}

* {
  box-sizing: border-box;
}


body, .main {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	background-color: black;
}


h1 {
	font-family: "Archivo Black", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 50pt;
}

h2 {
	font-family: "Archivo Black", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30pt;
	color: white;
}

h3 {
	font-family: "Archivo Black", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20pt;
}

h4 {
	font-family: "Archivo Black", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 15pt;
}

p, li, .navLink {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13pt;
}


/*this just centers the whole navbar, and add vertical padding*/
.navWrapper {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
	background-color: black;
	overflow: hidden;
}

/*this will put each item in row and space between them*/
.navBar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 50vw;
}


.navLink a{
	color: white;
}

/*center the header vertically + horizontally*/
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	background-image: url("aura.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


.textBlock {
	width: 100%;
	font-size: 15pt;
	background-color: pink;
	padding: 10px 10px 10px 10px;
}


.quote {
	padding: 50px 200px 50px 200px;
	text-align: center;
/*	font-family: "Lato", sans-serif;
	font-weight: 500;*/
	font-style: italic;
/*	font-size: 30px;
	background-color: #5D737E;
	color: white;*/
}

/*--------------------------------------------*/

/*center everything in the facts section (heading + fact boxes)*/
.facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
	padding-top: 100px;
}

/* everything in container (the boxes) */
.factBoxes {
	display: flex;
	flex-direction: row;
	padding-left: 5vw;
	padding-right: 5vw;
	gap: 50px;	/* between the items */
}

.factText {
	background-color: #CEFBEC;
}

.factText p {
	font-size: 15pt;
	text-align: center;
}


/*center everything in the types section*/
.types {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.typeRows {
	display: flex;
	flex-direction: column;
	gap: 5vh;
}

.twoColRow {
	display: flex;
	flex-direction: row;
	gap: 3vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

.typesText1 {
	background-color: #F6DBD7;
}

.typesText2 {
	background-color: #D9F9EB;
}

.typesText3 {
	background-color: #D5E5F8;
}

.typesText4 {
	background-color: #F8F5D5;
}

.typesText5 {
	background-color: #C9F9FF;
}


/*center everything in the myths section*/
.myths {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.mythBoxes {
	display: flex;
	flex-direction: row;
	padding-left: 5vw;
	padding-right: 5vw;
	gap: 50px;	/* between the items */
}

.mythText {
	background-color: #D5E5F8;
}

/*--------------------------------------------*/


.resources {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.header2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
}

.resourceBoxes {
	display: flex;
	flex-direction: column;
	padding-left: 5vw;
	padding-right: 5vw;
	gap: 30px;	/* between the items */
}

.resourceText1 {
	background-color: #F6DBD7;
}


.resourceText2 {
	background-color: #D9F9EB;
}

.resourceText3 {
	background-color: #C9F9FF;
}



/*.typesText1 {
	background-color: #F6DBD7;
}

.typesText2 {
	background-color: #D9F9EB;
}

.typesText3 {
	background-color: #D5E5F8;
}

.typesText4 {
	background-color: #F8F5D5;
}

.typesText5 {
	background-color: #C9F9FF;
}*/


.campaigns {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.campaignBoxes {
	display: flex;
	flex-direction: row;
	padding-left: 5vw;
	padding-right: 5vw;
	gap: 30px;	/* between the items */
	padding-bottom: 10px;
}

.campaignText {
	background-color: #F8F5D5;
}

/*--------------------------------------------*/



.tips {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.tipBoxes {
	display: flex;
	flex-direction: row;
	padding-left: 5vw;
	padding-right: 5vw;
	gap: 30px;	/* between the items */
}

.tipsText1 {
	background-color: #F8F5D5;
}

.tipsText2 {
	background-color: #C9F9FF;
}

.tipsText3 {
	background-color: #F6DBD7;
}

.listAndPrompts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 100px;
}

.checklist {
	display: flex;
	flex-direction: column;
}

.prompts {
	display: flex;
	flex-direction: column;
}

.listText {
	line-height: 2.0;
	background-color: #D5E5F8;
}

.promptText {
	background-color: #D9F9EB;
}

.blocktext7 {
	text-align: center;
	padding: 5px 5px 5px 5px;
	box-sizing: border-box;
	border-style: solid;
	border-color: black;
/*	vertical-align: text-top;*/
	margin-bottom: 10px;
}




/*--------------------------------------------*/


.comments{
/*	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;*/
	font-size: 12px;
	color: gray;
	text-decoration: none;
}

.credits {
	padding-left: 5vw;
	font-size: 20px;
	text-decoration: none;
}

.credits a {
	color: gray;
}